// Primary Colors
$primary-violet: #5964e0;
$primary-light-violet: #939bf4;
$primary-very-dark-blue: #19202d;
$primary-midnight: #121721;

// Secondary Colors
$secondary-white: #ffffff;
$secondary-light-gray: #f4f6f8;
$secondary-gray: #9daec2;
$secondarty-dark-gray: #6e8098;
